<!doctype html>
<html lang="en">
  <head>
    <title>Git Profile</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <aside class="sidebar">
        <h2>Histórico de Busca</h2>
        <ul class="history-list">
          <% for(var i=0; i<latest.length; i++) {%>
            <% if (i<6) {%>
               
                <li><%= latest[i].search %></li>    
            <%}%>
            <%}%>
            <!-- Adicione mais itens de histórico conforme necessário -->
        </ul>
    </aside>
    <main class="main-content">
      <form method="POST" action="/" class="searchform">

        <div class="search-container">
          <input type="text" class="search-input" name="user" id="user-input" placeholder="Digite o nome de usuário do GitHub...">
        </div>
      </form>
      <% if (user.login) { %>
        <div class="profile-container">
            <img src="<%= user.avatar_url %>" alt="Foto de perfil" class="profile-image">
            <button class="back-button" onclick="location.href='/'">Voltar</button>
            <div class="profile-info">
              <h2><%= user.name %></h2>
              <p>@<%= user.login %></p>
              <p><%= user.bio %></p>
              <div class="profile-stats">
                  <div class="stat">
                      <div class="stat-value"><%= user.public_repos %></div>
                      <div class="stat-label">Repositórios</div>
                  </div>
                  <div class="stat">
                      <div class="stat-value"><%= user.followers %></div>
                      <div class="stat-label">Seguidores</div>
                  </div>
                  <div class="stat">
                      <div class="stat-value"><%= user.following %></div>
                      <div class="stat-label">Seguindo</div>
                  </div>
              </div>
        </div>
        <% } %>
    </main>
</body>
<script>

  function submitForm(){
    document.searchform.submit();
    document.searchform.method='post';
  }
  document.onkeydown=function(){
    if(window.event.keyCode=='13'){
        submitForm();
    }
}
document.getElementById("searchform").onclick = submitForm;

</script>
</html>